<div class="img-upload">
  <form id="imgUploadForm">
    <input type='file' id='img-file-input' multiple>

    {{#if fileSet}}
    <button class='btn btn-primary' type='submit'>Upload</button>
    {{/if}}
  </form>
</div>
