<div class='index container'>
  <div class="row latest-photos">
    <div class="col-xs-12">
      <h1>Latest Photos</h1>
    </div>

    {{#each photo in controller}}

    <div class="col-sm-4">
      <div class="photo" style="background: url({{photo.imgPath}}) center / cover;">

        {{#link-to 'photos.edit' photo class='btn btn-default'}}edit{{/link-to}}

        <a class='btn btn-default' {{action 'deletePhoto' photo}}>delete</a>
      </div>
    </div>

    {{/each}}

  </div>
</div>
