<!-- section -->
<section class="about min" id="about">

  <div class="offset">

    <!-- container -->
    <div class="container">

      <!-- row -->
      <div class="row">

        <!-- image -->
        <div class="image six columns">

          <img src="./images/about/image.png" alt="">

        </div>
        <!-- image -->

        <!-- content -->
        <div class="content six columns">

          <div class="story">
            <h3 class="title">Based in London</h3>
            <p class="text">Nunc orci ipsum, pellentesque a tristique et, mattis non arcu. Sed aliquet gravida aliquet. Donec gravida, nisl at pretium lobortis, lectus libero aliquam felis, eu cursus lorem nulla vitae nunc. Nulla malesuada finibus cursus. Nam ante urna, lobortis non ante quis, vestibulum laoreet nisl.</p>
          </div>

          <div class="quote">
            <blockquote>“Photography is more than a medium for factual communication of ideas. It is a creative art”.</blockquote>
          </div>

          <div class="more">
            <a href="contact" class="circle contact"><span>contact me</span></a>
          </div>

        </div>
        <!-- content -->

      </div>
      <!-- row -->

    </div>
    <!-- container -->

  </div>

</section>
<!-- section -->
