<!-- section -->
<section class="article" id="article">

  <div class="offset">

    <div class="container">

      <div class="posts twelve columns">

        <article class="post">

          <header class="entry-header">

            <div class="entry-thumbnail">
              <img src="./images/blog/post-1/thumbnail.jpg" alt="">
            </div>

            <div class="entry-meta">

              <span class="categories-links">
                Design
              </span>

              <span class="date">
                <time datetime="2015-10-05" class="entry-date">Feb 20, 2015</time>
              </span>

            </div>

            <h3 class="entry-title">
              Consuming Nature’s Beauty
            </h3>

          </header>

          <div class="entry-content">

            <p>Curabitur risus odio, venenatis nec tempor et, dapibus eget est. Fusce blandit nunc quam, ac rhoncus mauris iaculis vitae. Vestibulum venenatis semper nibh in consectetur. Nunc elementum ullamcorper molestie. Nunc urna nibh, hendrerit eu urna ac, varius varius nibh. Mauris egestas sem ac ornare dapibus. Nunc placerat lorem id nulla ultricies facilisis. Mauris id lectus eros. Donec varius odio libero, vel malesuada sem pellentesque non. Etiam tempus quam ut velit commodo, vitae suscipit odio tempus. Nunc ac convallis augue. Etiam a rhoncus dolor, tincidunt auctor sapien. Nam rhoncus dignissim iaculis.</p>

            <p>Duis varius tincidunt ullamcorper. Vestibulum ac diam in erat ultricies auctor. Nullam eu nibh malesuada purus consequat tincidunt commodo id nisl. Pellentesque fermentum libero vitae felis vehicula feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris venenatis consectetur sem, et convallis nulla condimentum eget. Proin auctor molestie justo, eu laoreet lectus dictum ac. Morbi enim odio, varius et ex ac, vestibulum vestibulum diam. Nullam vulputate lectus nec lectus tincidunt volutpat non at magna. Nam vitae sapien lectus. Suspendisse ac pulvinar tortor.</p>

            <p>Mauris molestie mi augue, porttitor pharetra tellus pretium vel. Praesent viverra enim dictum, ultricies quam vitae, volutpat nisi. Phasellus pharetra rutrum diam, sit amet fermentum justo dignissim vitae. Ut rhoncus volutpat enim vel dapibus. Etiam rutrum quam vitae urna hendrerit interdum. Proin eget hendrerit purus. Aliquam porttitor mattis est vel euismod. Donec vulputate odio feugiat nisl finibus, eu dapibus libero rutrum. Integer ut mi eget lorem tempor porta et et mauris. Etiam ultricies ipsum dolor, eget dapibus dui tincidunt eu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla pharetra ligula elit, nec tincidunt diam laoreet eget. Cras sollicitudin lectus dolor, quis pulvinar turpis molestie vel. Pellentesque ut ullamcorper nibh, vel maximus risus. Nunc posuere lacus id consectetur rhoncus.</p>

          </div>

        </article>

      </div>

    </div>

  </div>

</section>
<!-- section -->
