<!-- section -->
<section class="blog" id="blog">

  <div class="offset">

    <div class="container">

      <div class="posts twelve columns">

        <article class="post" data-url="article">

          <header class="entry-header">

            <div class="entry-thumbnail">
              <img src="./images/blog/post-1/thumbnail.jpg" alt="">
            </div>

            <div class="entry-meta">

              <span class="categories-links">Design</span>

              <span class="date">Mar 12, 2015</span>

            </div>

            <h4 class="entry-title">Consuming Nature’s Beauty</h4>

          </header>

          <div class="entry-content">

            <p>Morbi finibus mauris hendrerit dui pellentesque tristique. Etiam tortor tellus, fermentum ac felis ac, vestibulum lacinia erat. Proin feugiat, diam maximus rhoncus pretium, turpis risus lacinia tellus...</p>

          </div>

        </article>

        <article class="post" data-url="article">

          <header class="entry-header">

            <div class="entry-thumbnail">
              <img src="./images/blog/post-2/thumbnail.jpg" alt="">
            </div>

            <div class="entry-meta">

              <span class="categories-links">Culture</span>

              <span class="date">Mar 8, 2015</span>

            </div>

            <h4 class="entry-title">One Way Ticket</h4>

          </header>

          <div class="entry-content">

            <p>Morbi finibus mauris hendrerit dui pellentesque tristique. Etiam tortor tellus, fermentum ac felis ac, vestibulum lacinia erat. Proin feugiat, diam maximus rhoncus pretium, turpis risus lacinia tellus...</p>

          </div>

        </article>

        <article class="post" data-url="article">

          <header class="entry-header">

            <div class="entry-thumbnail">
              <img src="./images/blog/post-3/thumbnail.jpg" alt="">
            </div>

            <div class="entry-meta">

              <span class="categories-links">Culture</span>

              <span class="date">Feb 14, 2015</span>

            </div>

            <h4 class="entry-title">While they Create, Others Copy.</h4>

          </header>

          <div class="entry-content">

            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris viverra, sapien nec consectetur ultrices, mauris sem hendrerit sapien, accumsan tempor augue nulla sed orci.</p>

          </div>

        </article>

      </div>

    </div>

  </div>

</section>
<!-- section -->
