<!-- section -->
<section class="contact min" id="contact">

  <div class="offset">

    <!-- container -->
    <div class="container">

      <!-- row -->
      <div class="row">

        <!-- image -->
        <div class="image six columns">

          <img src="./images/contact/image.png" alt="">

        </div>
        <!-- image -->

        <!-- content -->
        <div class="content six columns">

          <div class="story">
            <h3 class="title">Work together</h3>
            <p class="text">Nunc orci ipsum, pellentesque a tristique et, mattis non arcu. Sed aliquet gravida aliquet. Donec gravida, nisl at pretium lobortis, lectus libero aliquam felis.</p>
          </div>

          <div class="info">
            <a href="tel:+0053996182" class="active" target="_blank"><h4>+00 5399 6182</h4></a><br>
            <a href="mailto:contact@remyblack.me" target="_blank"><h4>contact@remyblack.me</h4></a>
          </div>

          <div class="social">

            <a href="http://www.twitter.com/limitlesscompan" class="circle twitter" target="_blank"></a>
            <a href="http://www.facebook.com/limitlesscompany" class="circle facebook" target="_blank"></a>
            <a href="http://www.instagram.com/limitlesscompany" class="circle instagram" target="_blank"></a>

          </div>

        </div>
        <!-- content -->

      </div>
      <!-- row -->

    </div>
    <!-- container -->

  </div>

</section>
<!-- section -->
