<!-- section -->
<section class="home fullscreen" id="home">

  <div class="image" data-url="./images/home/image/background.jpg"></div>

  <!-- offset -->
  <div class="offset transparent">

    <!-- container -->
    <div class="container">

      <!-- row -->
      <div class="main row">

        <div class="twelve columns">
          <h1 class="title">Tapas Barua</h1>
          <p class="text"><span>Empowering Photography</span></p>
        </div>

      </div>
      <!-- row -->

      <!-- row -->
      <div class="buttons row">
        <div class="twelve columns">
          <a class="more link" data-url="work"><span>Discover</span></a>
        </div>
      </div>
      <!-- row -->

    </div>
    <!-- container -->

  </div>
  <!-- offset -->

</section>
<!-- section -->
