<!-- section -->
<section class="work min" id="work">

  <div class="offset">

    <!-- container -->
    <div class="container">

      <div class="tools row unselectable">

        <div class="albums six columns">

          <div class="selected"></div>

          <ul class="items">
            <li data-slug="all" class="default">All</li>
            <li data-slug="black-white">Black & White</li>
            <li data-slug="earth-song">Earth Song</li>
            <li data-slug="prelude">Prelude</li>
            <li data-slug="requiem">Requiem</li>
          </ul>

        </div>

        <div class="views six columns">

          <div class="view" data-type="grid">
            <span>Grid</span>
          </div>

          <div class="view" data-type="list">
            <span>List</span>
          </div>

        </div>

      </div>

      <div class="files list row">

        {{#each photos}}
        <!-- file -->
        <div class="file" data-album="black-white">
          <div class="content">
            <div class="thumb">
              <img src={{imgPath}} alt="">
            </div>
            <div class="info">
              <span>{{title}}</span>
            </div>
            <div class="details">
              <span data-title="Camera">Canon EOS 5D Mark II</span>
              <span data-title="Lens">50 1.4</span>
              <span data-title="Focal Length">50mm</span>
              <span data-title="Shutter Speed">1/60 s</span>
              <span data-title="Apperture">f/2.2</span>
              <span data-title="ISO">200</span>
              <span data-title="Album">Black and White</span>
              <span data-title="Taken">london</span>
            </div>
          </div>
        </div>
        <!-- file -->
        {{/each}}

        <!--[> file <]-->
        <!--<div class="file" data-album="black-white">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-1/image-2.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>varius interdum</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Black and White</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="black-white">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-1/image-3.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>Quisque fermentum</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Black and White</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="black-white">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-1/image-4.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>vitae augue</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Black and White</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="black-white">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-1/image-5.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>Vestibulum quis</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Black and White</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="black-white">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-1/image-6.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Black and White</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-1.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>mollis augue</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-2.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>varius interdum</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-3.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>Quisque fermentum</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-4.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>vitae augue</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-5.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>Vestibulum quis</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-6.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>leo imperdiet</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-7.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>interdum varius</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-8.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>Fermentum Quisque</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-9.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>Augue Vitae</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-10.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imper leodiet</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-11.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-12.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-13.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-14.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="earth-song">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-2/image-15.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Nikon D700</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Earth Song</span>-->
              <!--<span data-title="Taken">France</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->



        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-1.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>mollis augue</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-2.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>varius interdum</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-3.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>Quisque fermentum</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-4.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>vitae augue</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-5.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>Vestibulum quis</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-6.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-7.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-8.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-9.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-10.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-11.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-12.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-13.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-14.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-15.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="prelude">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-3/image-16.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Prelude</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="requiem">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-4/image-1.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>mollis augue</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Requiem</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="requiem">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-4/image-2.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>varius interdum</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Requiem</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="requiem">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-4/image-3.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>Quisque fermentum</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Requiem</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="requiem">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-4/image-4.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>vitae augue</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Requiem</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="requiem">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-4/image-5.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>Vestibulum quis</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Requiem</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="requiem">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-4/image-6.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Requiem</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="requiem">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-4/image-7.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Requiem</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="requiem">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-4/image-8.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Requiem</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

        <!--[> file <]-->
        <!--<div class="file" data-album="requiem">-->
          <!--<div class="content">-->
            <!--<div class="thumb">-->
              <!--<img src="./images/work/album-4/image-9.jpg" alt="">-->
              <!--</div>-->
            <!--<div class="info">-->
              <!--<span>imperdiet leo</span>-->
              <!--</div>-->
            <!--<div class="details">-->
              <!--<span data-title="Camera">Canon EOS 5D Mark II</span>-->
              <!--<span data-title="Lens">50 1.4</span>-->
              <!--<span data-title="Focal Length">50mm</span>-->
              <!--<span data-title="Shutter Speed">1/60 s</span>-->
              <!--<span data-title="Apperture">f/2.2</span>-->
              <!--<span data-title="ISO">200</span>-->
              <!--<span data-title="Album">Requiem</span>-->
              <!--<span data-title="Taken">london</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--[> file <]-->

      </div>

    </div>
    <!-- container -->

  </div>

</section>
<!-- section -->
